{% extends 'base.html.twig' %}

{% block title %}Hizmet index{% endblock %}

{% block body %}
    <h1>Hizmet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hizmet in hizmets %}
            <tr>
                <td>{{ hizmet.id }}</td>
                <td>{{ hizmet.name }}</td>
                <td>{{ hizmet.price }}</td>
                <td>
                    <a href="{{ path('hizmet_show', {'id': hizmet.id}) }}">show</a>
                    <a href="{{ path('hizmet_edit', {'id': hizmet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hizmet_new') }}">Create new</a>
{% endblock %}
